h1 {

    text-align:center;
    color:black;
    font-family:Arial Narrow Bold;
    font-size:75px

}

h2 {

    text-align:center
}

.team {
    text-align:center;
    width:400px
}

.textgreen {

    color:green;
    background-color:black
}

.fontsize20 {
    font-size:20px
}

.textalign {
    text-align:center
}

.linkstopage {
    margin-left: 15%;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 400px
  }

  .center-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }

  .spaceleft {
    padding-left: 200px;
    border-spacing: 25px;
  }